<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi iam express app,kubernetes , get data from backend and access through url using localhost:3000 and display on browser</title>
</head>
<body>
    <h1>Hello, Iam from frontend</h1>
    <p><%= JSON.stringify(data) %></p>
    
</body>
</html>